body {
  background-color: #fa8d58;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: #C0C0C0;
  padding: 15px 17px;
  text-decoration: none;
}

li a:hover {
  background-color: #69b8f1;
}

.active {
  background-color: #e64d59;
}
 
img {
  height: 450px;
  width: 330px;
  margin: 350px;
  border-color: #44d4f9;
  border-width: 8px;
  border-style: solid;
}
