body {
  background-color: #fa8d58;
}

h1 {
  color: #293a48;
}

p {
  color: #293a48
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: #C0C0C0;
  padding: 15px 17px;
  text-decoration: none;
}

li a:hover {
  background-color: #69b8f1;
}

.active {
  background-color: #e64d59;
}

img {
  float: right;
  height: 570px;
  width: 520px;
  margin: 10px;
  border-width: 8px;
  border-style: solid;
  border-radius: 50px;
  border-color: #95e0fe;
}

