body {
  background-color: #fa8d58;
}

h1 {
  color: #293a48;
  font-family: sans-serif;
}

p {
  color: #293a48;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: #C0C0C0;
  padding: 15px 17px;
  text-decoration: none;
}

li a:hover {
  background-color: #69b8f1;
}

.active {
  background-color: #e64d59;
}

ul.normalList {
  font-family: sans-serif;
  background: none;
  list-style-type: disc;
}

ul.normalList li{
  background: none;
  list-style-type: disc;
}

image1 {
  float: right;
  height: 570px;
  width: 520px;
  margin: 10px;
  border-width: 8px;
  border-style: solid;
  border-radius: 50px;
  border-color: #95e0fe;
}

image3 {
  float: right;
  height: 570px;
  width: 520px;
  margin: 10px;
  border-width: 8px;
  border-style: solid;
  border-radius: 50px;
  border-color: #95e0fe;
}

image3 {
  float: right;
  height: 570px;
  width: 520px;
  margin: 10px;
  border-width: 8px;
  border-style: solid;
  border-radius: 50px;
  border-color: #95e0fe;
}

image4 {
  float: left;
  margin: 10px;
  border-style: none;
}

image5 {
  float: left;
  margin: 10px;
  border-style: none;
}
 
table, th, td {
  border: 3px solid #000000;
}

